@if (authService.isAdmin()) {
    <p-toolbar styleClass="mb-6">
        <ng-template #start>
            <p-button label="New" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNew()" />
        </ng-template>

        <ng-template #end>
            <p-button label="Export" icon="pi pi-upload" severity="secondary" (onClick)="exportCSV()" />
        </ng-template>
    </p-toolbar>
}

<p-table
    #dt
    [value]="products()"
    [rows]="10"
    [columns]="cols"
    [paginator]="true"
    [globalFilterFields]="['name', 'description', 'category.name']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} products"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 20, 30]"
>
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <h5 class="m-0">Manage Products</h5>
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..." />
            </p-iconfield>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th pSortableColumn="name" style="min-width: 12rem">
                Name
                <p-sortIcon field="name" />
            </th>
            <th pSortableColumn="description" style="min-width: 16rem">
                Description
                <p-sortIcon field="description" />
            </th>
            <th pSortableColumn="category.name" style="min-width: 12rem">
                Category
                <p-sortIcon field="category.name" />
            </th>
            <th pSortableColumn="price" style="min-width: 8rem">
                Price
                <p-sortIcon field="price" />
            </th>
            <th pSortableColumn="stock" style="min-width: 8rem">
                Stock
                <p-sortIcon field="stock" />
            </th>
            <th pSortableColumn="status">
                Status
                <p-sortIcon field="status" />
            </th>
            @if (authService.isAdmin()) {
                <th style="min-width: 12rem"></th>
            }
        </tr>
    </ng-template>
    <ng-template #body let-product>
        <tr>
            <td style="min-width: 12rem">{{ product.name }}</td>
            <td style="min-width: 16rem">{{ product.description }}</td>
            <td style="min-width: 12rem">{{ product.category ? product.category.name : '--' }}</td>
            <td style="min-width: 8rem">{{ product.price | currency: 'USD' }}</td>
            <td style="min-width: 8rem">{{ product.stock }} units</td>
            <td>
                <p-tag [severity]="product.status ? 'success' : 'contrast'" [value]="product.status ? 'Activa' : 'Inactiva'" />
            </td>

            @if (authService.isAdmin()) {
                <td>
                    <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" (click)="editProduct(product)" />
                    <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="deleteProduct(product)" />
                </td>
            }
        </tr>
    </ng-template>
</p-table>

@if (authService.isAdmin()) {
    <p-dialog [(visible)]="productDialog" [style]="{ width: '500px' }" header="Product Details" [modal]="true">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="flex flex-col gap-4 mb-4">
                <div>
                    <label for="name" class="block font-bold mb-3">Name</label>
                    <input formControlName="name" type="text" pInputText id="name" required fluid />
                </div>
                @if (form.touched && form.get('name')!.errors) {
                    <form-error-label [control]="form.get('name')!" />
                }
                <div>
                    <label for="description" class="block font-bold mb-3">Description</label>
                    <textarea formControlName="description" id="description" pTextarea rows="3" cols="20" fluid></textarea>
                </div>
                @if (form.touched && form.get('description')!.errors) {
                    <form-error-label [control]="form.get('description')!" />
                }
                <div>
                    <label for="category_id" class="block font-bold mb-3">Category</label>
                    <p-select optionValue="id" formControlName="category_id" [options]="categories()" optionLabel="name" placeholder="Select a Category" class="w-full md:w-56" fluid />
                </div>
                <div class="grid grid-cols-12 gap-4">
                    <div class="col-span-6">
                        <label for="price" class="block font-bold mb-3">Price</label>
                        <p-inputnumber styleClass="mb-4" formControlName="price" id="price" mode="currency" currency="USD" locale="en-US" fluid />
                        @if (form.touched && form.get('price')!.errors) {
                            <form-error-label [control]="form.get('price')!" />
                        }
                    </div>
                    <div class="col-span-6">
                        <label for="stock" class="block font-bold mb-3">Stock</label>
                        <p-inputnumber [useGrouping]="false" suffix=" units" styleClass="mb-4" [step]="1" formControlName="stock" id="stock" fluid />
                        @if (form.touched && form.get('stock')!.errors) {
                            <form-error-label [control]="form.get('stock')!" />
                        }
                    </div>
                </div>
            </div>
            <div class="flex justify-end gap-2">
                <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialog()" />
                <p-button [disabled]="!form.valid" label="Save" icon="pi pi-check" type="submit" />
            </div>
        </form>
    </p-dialog>
}

<p-confirmdialog [style]="{ width: '450px' }" />
